*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s;
}
body
{
    background: linear-gradient(to right bottom,#8686ff, #88ff78);
    width: 100%;
    height: 100vh;
}
.core-container
{
    height: 100vh;
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
}
#drop-area
{
    width: 580px;
    height: 580px;
    padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
.image-view
{    
    background: linear-gradient(to right bottom,#8686ff, #88ff78);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px dotted #88ff78;
}
.filter-container
{
    width: 580px;
    height: 580px;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
}
p
{
    font-size: 20px;
    width: 60%;
    margin: auto;
    margin-top: 48%;
}
.filter-container label
{
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}
.filter-container input
{
    width: 100%;
}
.filter-container input[type="range"]
{
    background-color: #000;
    accent-color: #88ff78;
}
button
{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #8686ff;
    border-radius: 30px;
    cursor: pointer;
}
button:hover
{
    opacity: 0.8;
    background-color: #8686ff;
    color: white;
}
#save-image
{
    background: linear-gradient(to right bottom,#8686ff, #88ff78);
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}