*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s;
}
.core-container
{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom,#8686ff, #88ff78);
    display: flex;
    align-items: center;
}
#drop-area
{
    width: 500px;
    height: 500px;
    padding: 30px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
.image-view
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: 100% 100%;

    border: 1px dotted black;
    background-color: rgba(203, 203, 203, 0.811);
}
p
{
    margin-top: 50%;
}